<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests" thread-count="6">
  <listeners>
  <listener class-name= "section16.Listeners"/>
      </listeners>
  
  
  <test  name="personalLoan">
  <parameter name="URL" value="personalloan.com"/>
  <parameter name="APIKey/usrname" value="123456"/>
    <classes>

      <class name="section16.day1">
        <methods>
          <include name="demo"/>
        </methods>
      </class>
      <class name="section16.day1"/>
      <class name="section16.day2"/>
      <class name="section16.day4"/>
    </classes>
  </test> <!-- Test -->
  
  <test name="car laon">
  <parameter name="URL" value="carloan.com"/>
  <classes>
  <class name="section16.day3">
     <methods>
        <exclude name="mobileLogicCarLoan"/>
        <exclude name="mobile.*"/>
        <exclude name="api.*"/>
     </methods>
  </class>	
  </classes>
  </test>
</suite> <!-- Suite -->
